.form_container {
  width: 350px;
  margin: 0 auto;
  height: 100vh;
  top: 20vh;
  margin: 0 auto;
  position: relative;
  font-size: 0.9rem;
  color: rgba(38, 38, 38, 1);
}

.form_container .form {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 0 40px 25px 40px;
  margin-bottom: 30px;
}

.title {
  // overflow: hidden;
  // text-indent: 110%;
  text-align: center;
  // margin: 22px auto 8px;
  img {
    height: 150px;
    width: auto;
  }
}

.form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form input {
  width: 100%;
  background: 0 0;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  padding: 7px 8px 7px;
}

.form p {
  margin-bottom: 10px;
}

.form .submit_btn {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}

.bottom_box {
  text-align: center;
  /*height: 290px;*/
  background-color: #fff;
  //   border: 1px solid #e6e6e6;
  padding: 20px 40px 25px 40px;
  font-size: 14px;
  color: #8e8e8e;

  a {
    text-decoration: none;
    color: #0095f6;
    font-weight: 500;
    margin-left: 1em;
  }

  /*display: flex;*/
  /*align-items: center;*/
}
