.header {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;

  .logo {
    min-width: 40px;
    img {
      height: 54px;
    }
  }

  &.on {
    position: fixed;

    .inner {
      height: 52px;
    }
  }

  .inner {
    width: 975px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;

    .logo {
      .sprite_insta_icon {
        position: relative;
        margin-right: 30px;

        &:after {
          content: "";
          width: 1px;
          height: 28px;
          background: #000;
          position: absolute;
          right: -15px;
          top: -4px;
          transition: all 0.5s;
          opacity: 0;
        }
      }
      & > a {
        color: transparent;
      }

      div {
        vertical-align: middle;

        &:nth-child(2) {
          transform: translateY(2px);
          transition: all 0.5s;
          // opacity: 0;
        }
      }
    }
  }

  .search_box {
    position: relative;
  }

  .search_field {
    width: 185px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 3px 30px;
    color: #999;
    font-weight: 400;
    text-align: left;
    outline: none;
    font-size: 0.8rem;

    &::placeholder {
      font-size: 0;
    }

    &:focus::placeholder {
      font-size: 0.8rem;
    }

    &:focus ~ .fake_field > span:nth-child(1) {
      transform: translateX(-105px);
    }

    &:focus ~ .fake_field > span:nth-child(2) {
      display: none;
    }
  }
  .fake_field {
    font-size: 0.8rem;
    color: #999;
    font-weight: 400;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .right_icons {
    width: 200px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;

    & > div {
    }
  }
}

.dropdown {
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      background-color: white;
      border-radius: 6px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 8px;
      padding-top: 8px;
    }
    &:hover {
      background-color: #ddd;
    }
  }

  &:hover .dropdown_content {
    display: block;
  }
}

.container {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  margin-left: -180px;
  top: 100px;
  position: absolute;
  z-index: 3;
}

.menu_item {
  background-color: white;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}
